#exclude Visual Studio stuff
.vs

# Exclude compiled executable files
*.exe

# Exclude DLL files
*.dll
*.obj

# Exclude specific folders
include
lib
reference

# Ignore PyCharm project files
.idea/

# Exclude ga.bat
ga.bat

# Exclude __pycache__
spooky_shooter/level_editor_python/__pycache__ 
__pycache__

# Exclude various files and folders from halloween
spooky_shooter/CMakeCache.txt
spooky_shooter/build
spooky_shooter/CMakeFiles
spooky_shooter/imgui
spooky_shooter/src/python_example.py
runner_demo/imgui
