# Exclude compiled executable files
*.exe

# Exclude DLL files
*.dll
*.obj

# Exclude specific folders
include
lib
reference

# Ignore PyCharm project files
.idea/

# Exclude ga.bat
ga.bat

# Exclude level_editor __pycache__
level_editor/__pycache__ 

# Exclude various files and folders from halloween
halloween/CMakeCache.txt
halloween/build
halloween/CMakeFiles
halloween/imgui
halloween/src/python_example.py






